@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&family=Roboto+Slab:wght@700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    font-family: 'Josefin Sans', sans-serif;
    color: #fff;
}

.container {
    position: relative;
    width: 100%;
}

.nav {
    position: fixed;
    width: 300px;
    height: 100%;
    border-right: 1px solid rgba(28, 28, 26, 0.518);
    background-color: rgba(15, 15, 5, 0.799);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: width 0.5s;
}

.nav.active {
    width: 0px;
}

.nav ul {
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    padding: 20px 40px;
}

.nav ul li {
    position: relative;
    width: 100%;
    list-style: none;
}

.nav ul li a {
    position: relative;
    display : block;
    width: 100%;
    margin: 20px 0;
    white-space: normal;
    display: flex;
    color: rgb(225, 194, 17);
    font-weight: 900;
    text-decoration: none;
    letter-spacing: 2px;
    opacity: 0.6;
}

.nav ul li a:hover {
    opacity: 1;
}

.main {
    position: absolute;
    width: calc(100% -300px);
    min-height: 100vh;
    left: 300px;
    transition: width 0.5s , left 0.5s;
}

.main.active {
    width: calc(100% - 0px);
    left: 0px;
}

.main .topbar {
    position:fixed;
    top: 0;
    width: calc(100% - 300px);
    left: 300px;
    background: #FFD700;
    border-bottom: 1px solid rgba(28, 28, 26, 0.518);
    height: 55px;
    padding: 0 15px;
    display: flex;
    align-items: center;
    transition: width 0.5s , left 0.5s;
    z-index: 99;
}

.main .topbar.active {
    width: calc(100% - 0px);
    left: 0px;
}
.main .topbar .logo {
    color: #1e1d1d;
    font-weight: 700;
    font-size: 1.3em;
    text-decoration: none;
    align-items: center;
    font-family: 'Roboto Slab', serif;
    letter-spacing: 1px;
}
.main .topbar .logo::first-letter {
    color: rgba(15, 15, 5, 0.687);
    font-size: xx-large; float-left; line-height: 60px;
 }

.main .topbar .toggle {
    position: relative;
    width: 60px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #1e1d1d;
}

.box {
    position: absolute;
    margin-top: 200px;   
    border: 6px dotted #d2ac16;
    background: transparent;
    width: 410px;
    height: 400px;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 7%;
    border-bottom-right-radius: 7%;
    backdrop-filter: blur(15px);
    outline: 2px ridge #40385d;
    outline-offset: 1px;
}

hr {
    z-index: 90;
}
section {
    position: relative;
    min-height: 100vh;
    
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    background: url('assets/bgHome5.jpg')no-repeat;
    background-position: center;
    background-size: cover;
}

.home .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.home .foto {
    position: relative;
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 15px;
    margin-top: 10px;
    border: 6px dotted #d2ac16;
    box-shadow: 0 0 0 50px rgba(205, 155, 4, 0.823) ridge, 0 0 0 11px rgb(38, 37, 36), 0 0 30px rgba(191, 171, 171, 0.8) ridge;
    outline: 2px ridge #40385d;
    outline-offset: 1px;
}

.home .foto img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h3 {
    position: relative;
    color: #fff;
    letter-spacing: 2px;
    margin: 20px;
}
.table {
    padding:10px;
}
h5 {
    position: relative;
    color: #fff;
    letter-spacing: 2px;
    margin: 25px 0 5px;
    font-size: larger;
    font-family: 'Roboto Slab', serif;
}

p {
    position: relative;
    color: #fff;
    letter-spacing: 1px;
    margin-top: 20px;
    margin-bottom: 15px ;
    z-index: 90;
    align-items: center;
    font-size: smaller;
}

.socialMedia {
    bottom: 20px;
    display: flex;
    margin-top: 15px;
    z-index: 90;
}

.socialMedia li {
    list-style: none;
}

.socialMedia li a {
    display: inline-block;
    margin-top: 100px;
    width: 40px;
    height: 40px;
    background: #d6c9c9aa;
    margin: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #fff;
}

.socialMedia li a:hover {
    background: rgba(15, 15, 5, 0.799);
    color: rgb(197, 164, 18);
}

.adjust {
    color: #ffffff;
    position: relative;
    min-height: 100vh;
    padding: 0 40px;
    padding-top: 80px;
    background: rgb(30, 27, 2);
}

.title {
    width: 100%;
    text-align: center;
}

.title h1 {
    position: relative;
    letter-spacing: 2px;
    font-size: 1.4em;
    margin-bottom: 30px;
}
.title h1::first-letter {
    font-size: xxx-large; float-left; line-height: 60px;
    color: #d2ac16;
 }

.title h1::before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -10px;
    width: 60px;
    height: 4px;
    background: rgb(241, 222, 14);
}

.aboutMe .content {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.aboutMe .content h3 {
        background: linear-gradient(90deg, rgb(214, 188, 18) 0%, rgb(202, 105, 8) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin: 0;
}

.aboutMe .content h3::first-letter {
    font-size: xx-large; float-left; line-height: 60px;
    font-family:'Roboto Slab', serif;
}

.aboutMe .content .text {
    width: 49%;
    min-width: 49%;
}

.aboutMe .content .foto2 img {
    max-width: 100%;
}

.aboutMe .content .button {
    position: relative;
    display: inline-block;
    padding: 10px 30px;
    background-color: #5d4c06;
    color: #ffffff;
    font-weight: 900;
    font-size: larger;
    letter-spacing: 2px;
    text-decoration: none;
    margin-top: 50px;
    border-radius: 10px;
    opacity:0.6;
}

.aboutMe .content .button:hover{
    opacity: 1;
}

.to-back {
    color: #1e1d1d;
    text-decoration: none;
    margin-top: 10px;
    font-weight: 900;
    color: black;
}

.to-back:hover {
    color: rgb(162, 44, 83);
}

.center {
    margin: 20px;
    text-align: center;
    width: 100%;
    background: transparent;
}

.contact .center input[type=submit] {
    background: #5d4c06;
    color: #ffffff;
    padding: 10px 30px;
    display: inline-block;
    letter-spacing: 2px;
    max-width: 150px;
    border: none;
}

.copyright {
    position: relative
    bottom: 0;
    padding:10px 40px;
    text-align : center;
    color:#ffff;
    background : rgb(30, 27, 2, 0.97);
}

